.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
  }
#title {
    font-family: 'Major Mono Display', monospace;
}
.title-center {
    text-align: center;

}