body {
  margin: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
}
.page-size {
  max-width:500px;
  margin: auto;
  padding: 10px;
}
#title {
  font-family: "Major Mono Display", monospace;
}
.content-font {
  font-family: "Major Mono Display", monospace;
}
.title-center {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  display: inline;
}
a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  font-family: "Arvo", serif;
}
.slideshow-images {
  height:inherit;
  position: relative;
  right: 0px;
}
.slideshow {
  overflow: hidden;
  white-space: nowrap;
}
.form-element {
  font-family: "Arvo", serif;
  width:100%;
  margin-top: 10px;
  height:40px;
  border:0;
}
.form-element-input {  
  background-color: transparent;
  color: black;  
}
.form-element-input::placeholder {
  color: grey;  
}
.form-button {
  background-color: black;
  color: white;
}

.about-me {
  font-family: "Arvo", serif;
  font-size: 20px;
}